@import '../../utils/vars.scss';

.heart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px; 
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all var(--transition);
}