@import '../../../utils/vars.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.list {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
    grid-row-gap: 30px;
    justify-items: center;
}